**/*.ipynb_checkpoints
**/*.pyc
**/*.swp
*.egg-info
*.gz
*.idea
*.log
*.out
*.pyc
*.swp
*.tar
*.xml
*.zip
*.bson
.DS_Store
.RData
.Rhistory
.coverage
.eggs
.env
__pycache__
.pytest_cache
.tenv
.vscode
runs/*
env
lib
models/
data/
